.card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}
.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #ff6a00;
  font-weight: 700;
  font-family: "Sarabun", sans-serif;
  animation: fadeInUp 0.6s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*ตกแต่ง fony*/
.heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333; /* สีเทาเข้ม */
  letter-spacing: 0.05em;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: "Sarabun", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 0.3rem;
  transition: color 0.3s ease;
}
